{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  integrant           {:mvn/version "0.7.0-alpha1"}

  ring/ring-core          {:mvn/version "1.6.3"}
  ring/ring-jetty-adapter {:mvn/version "1.6.3"}

  org.clojure/java.jdbc     {:mvn/version "0.7.5"}
  org.postgresql/postgresql {:mvn/version "42.2.1"}
  migratus                  {:mvn/version "1.0.6"}
  hikari-cp                 {:mvn/version "2.2.0"}
  honeysql                  {:mvn/version "0.9.1"}}

 :aliases
 {:repl
  {:extra-deps
   {cider/cider-nrepl       {:mvn/version "0.16.0"}
    org.clojure/tools.nrepl {:mvn/version "0.2.12"}
    refactor-nrepl          {:mvn/version "2.3.1"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {com.cognitect/test-runner {:git/url "git@github.com:cognitect-labs/test-runner"
                               :sha     "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}}
   :main-opts   ["-m" "cognitect.test-runner"]}

  :pack
  {:extra-deps
   {pack/pack.alpha
    {:git/url "git@github.com:juxt/pack.alpha.git"
     :sha     "e6d0691c5f58135e1ef6fb1c9dda563611d36205"}}
   :main-opts ["-m" "mach.pack.alpha.capsule" "deps.edn" "dist/kanat.jar"]}}}


 ;; Figwheel ClojureScript REPL
 ;; com.cemerick/piggieback {:mvn/version "0.2.2"
 ;;                          :exclusions  [com.google.javascript/closure-compiler]}
 ;; figwheel-sidecar        {:mvn/version "0.5.14"
 ;;                          :exclusions  [com.google.javascript/closure-compiler]}
